jupyter==1.0.0
matplotlib==3.2.1
scikit-learn==0.23.1
scipy==1.4.1
pandas==1.0.4
numpy==1.18.4
Scrapy==2.1.0
seaborn==0.10.1
googlemaps==4.4.1
tweepy==3.8.0
sklearn==0.0
sympy==1.6
networkx==2.4
python-louvain==0.14
pyglet==1.5.5
line-profiler==3.0.2
flake8==3.8.2
pycodestyle==2.6.0
pycodestyle-magic==0.5
geopy==1.22.0
healpy==1.13.0
virtualenv==20.0.21